<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<title>Home: Diseño & Programación</title>
	<!-- Favicon -->
	<link rel="icon" href="/assets/images/images-princ/fav.png">
	<!-- Css Local -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
	
	<!-- Fixed Nav -->
	{{> header}}
	<!-- Fixed-Nav End -->

	<!-- 1 Sección -->
	<section class="headerAbout col-sm-12" style="background-image: url(/assets/images/images-about/web-design-about.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>ABOUT US</h2>
				</div>
			</div>
		</div>
	</section>

	<!-- 2 Sección -->
	<section class="smAbout">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-20">
					<h2>¿Quiénes son los Diseñadores y Programadores?</h2>
					<p>A pesar que son personas de altas habilidades y conocimientos hoy en la actualidad, pero todos comenzaron desde cero no sabiendo nada sin ningún conocimiento, todo tiene su proceso de desarrollo.</p>
					<p>Sabemos que se encargan de diseñar y programar páginas web, pero desconocemos las dificultades, los obstáculos que han sobrellevado, son personas que día a día están aprendiendo no solo en un ámbito laboral, muchos de ellos en personalidades, al tratar con las demás personas.</p>
					<p>Detrás de cada Diseñador & Programador, se cuenta una historia no de "sufrimiento", sino de entrega y logros al dedicarse a esta clase de Profesión.</p>
				</div>
					<div class="col-md-6">
						<img class="img-fluid" src="/assets/images/images-about/about-person.jpg" alt="About-image">
					</div>
			</div>
		</div>
	</section>

	<!-- 3 Sección -->
	<section class="sectionTwo containerTwo">
		<div class="">
				<div class="Bgabout">
				<h2 class="sectionTextsTwo">Conoce el Lado del Usuario:</h2>
				<p class="textsParagraphS p-3">Es importante saber que los usuarios, clientes o personas que desean adquirir un Sitio web, expresan sus demandas en el sentido como desean su página web, de que hablará su sitio o lo que ellos desean o piensan hacer con su sitio.</p>
				<p class="textsParagraphS p-3">Claro que para eso están los Diseñadores & Programadores, pero no dejando de lado el hecho que los usuarios deberían considerar que las personas que realizan sus Website's, no lograrían muchas veces las expectativas que el cliente desea al tener en concreto y un trato con la persona encargada, cuando el usuario desea más de lo que se concretado.</p>
				</div>
			</div>

			<figure class="seccTwoImg">
				<img src="/assets/images/images-about/cliente-about.jpg" class="seccTwoPicture">
			</figure>

			<figure class="seccTwoImg seccTwoImg__left p-2">
				<img src="/assets/images/images-about/webD-about.jpg" class="seccTwoPicture">
			</figure>

			<div class="Bgabout">
				<h2 class="sectionTextsTwo">Conoce el Lado del Desarrollador</h2>
				<p class="textsParagraphS p-3">Es innegable que como personas encargadas a realizar diseños o programación, tengamos en cuenta que somos responsables al acceder o aceptar un Proyecto para con el cliente, respetar las demandas que el cliente establece y los realizantes al Proyecto accedan a esas demandas.</p>
				<p class="textsParagraphS p-3">Es muy importante establecer antes de aceptar el Proyecto tener comunicación muy explicita de las dos personas al establecer un trato de negocio, porque sino ninguna de las dos personas podrán a avanzar al final, y tendrán conflictos y como prosiguiente no se dará ninguna satisfacción entre las dos personas.</p>
			</div>
	</section>

	<!-- 4 Sección -->
	<section class="testimAbout">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="sectionTextsTwo">Testimonios de los Web Development:</h2>
					<div class="contaiAbout">
						<img src="/assets/images/images-about/Test-one.jpg" alt="Testimo-uno" class="caractImg">
							<p class="paragrText"><span>Christian Vladimir Deleón:</span>Desarrollador web y Diseñador gráfico.</p>
								<p>Mi nombre es Christian Vladimir Deleón tengo 32 años, soy desarrollador web y diseñador gráfico, actualmente trabajo en una empresa de tecnología desempeñando mis conocimientos, tengo 12 años de experiencia como diseñador gráfico he trabajado en diferentes empresas desempeñando el rubro en diseño gráfico y cómo desarrollador web tengo 2 años y medios  de experiencia los cuales prácticamente los he adquirido en esta empresa de tecnología anteriormente mencionada.</p>
								<p>Quizás muchos se han de preguntar porque desempeño dos diferentes aunque en lo personal yo opinó que estan relacionadas ambas profesiones. Bueno siempre me ha gustado el área digital crear y la innovación también la animación el dibujo, sin embargo siempre quise saber cómo se creaba una página web desde cero y queria obtener esos conocimientos. La curiosidad tuvo mayor fuerza y bueno así es como comencé a aprender desarrollo tuve la oportunidad de estar en un programa en ese entonces para jovenes en el cual me capacitaron y me dieron las herramientas con las certificaciones para poder ser parte de este nuevo rubro que es el desarrollo Web, al terminar el programa del proyecto tuve la oportunidad qué la empresa encargada en desarrollar las capacitaciones de dicho programa me diera la oportunidad y la confianza de poder desempeñar lo adquirido y ser por un tiempo ejemplo para muchos jóvenes qué la superación y los conocimientos se adquieren día a día y muchas veces es bueno salirse de la burbuja de confort en la que uno se encuentra y aventurarse a nuevos desafíos.</p>
								<p>Quizás algo que no mencioné al principio fue que antes de comenzar mi aventura en el desarrollo web yo estaba desempleado con muchas responsabilidades y no podía encontrar un trabajo aún teniendo la experiencia en diseño gráfico pero decidí arriesguarme y creí que me esfuerzo y el sacrificio qué día con día hice en el proyecto en algún momento daría frutos y así fue...</p>
					</div> 
				</div>

				<div class="col-md-12">
					<div class="contaiAbout">
						<img src="/assets/images/images-about/Test-two.jpeg" alt="Testimo-dos" class="caractImg">
							<p class="paragrText"><span>Wilmer José:</span>Programador.</p>
								<p>En lo largo de mi carrera e tenido momentos tanto altos como bajos, algunas materias me han complicado la vida y me han provocado noches de desvelo, muchas veces por errores pequeños de código o falta de paciencia al momento de ultilizar los diversos programas que se utilizan, pero al final puedo decir que vale la pena todo el esfuerzo, aprendes muchas áreas de la informática tanto programación como redes e ahí donde decides en cual rama desenvolverte y cual se te facilita más al momento de realizar tu profesión.</p>
								<p>En mi caso decidí irme por ambas ramas ya que la dos son de mi interés, e desarrollado tanto programas como instalaciones de red y es algo muy entretenido , agotador en el sentido de cableado y creación de programas pero bastante interesante , ya que ahí uno puede ver el desarrollo en cuestión de profesión , uno aprende cosas que nunca en la vida esperaba así como normas de cableado y errores que pueden dar los códigos.</p>
								<p>Los trabajos como programador son muy demandantes ya que muchas empresas manejan un lenguaje de programación de forma profesional o en cuestión de redes un manejo amplio de cableado estructurado, normativas y soporte técnico pero en mi experiencia todo a sido muy bueno.</p>
					</div>
				</div>
			</div>
		</div>		
	</section>

	<!-- Footer -->
		{{> footer}}
</body>
</html>